body {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ff7f00;
}
.form-pop {
  min-width: 330px;
  padding: 15px;
  margin: 0 auto;
}


.form-pop .input-group {
  font-size: 20px;
  height: auto;
  width: auto;
  padding-top: 5px;
}
.form-pop .input-group  input[type="text"] {
  margin-bottom: -1px;
  height: 45px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#setting {
    margin-top: 2px;
    margin-right: 2px;
    position: absolute;
	height: 18px;
	width: 18px;
    top: 0;
    right: 0;
	background: none;
	border:none;
    box-shadow:none;
}

#log-out {
    margin-top: 2px;
    margin-right: 2px;
    position: absolute;
	height: 18px;
	width: 18px;
    top: 0;
    right: 200;
	background: none;
	border:none;
    box-shadow:none;
}
